.wrap{
    display : flex;
    justify-content: center;
    position : relative;
    top : 50vh;
    transform : translateY(-50%);

    a{
        font-size : 3em;
        text-decoration : none;
        padding : 1em 1em 1em 1em;
        border-radius: 0.2em;
        transition: 0.5s;       // 변화에 걸리는 시간
    }

    .naver{                 // default
        background-color: green;
        color : white;
    }   
    .naver:hover{           // mouse over
        background-color: white;
        color : green;
        border : 3px solid green;
    }

    .google{
        background-color: blue;
        color : white;
    }

    .daum{
        background-color: yellow;
        color : white;
    }
}
